<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora non
      doloremque atque itaque consectetur assumenda ab nobis cumque, corporis
      quisquam odio repellendus alias fugit ut enim exercitationem distinctio
      provident excepturi.</p>
  </div>
</div>